.span_show {
  font-size: 0.9rem;
  margin-right: 5px;
}

.input-icon {
  position: absolute;
  top: 11px;
  left: 5px;
}

#txtTripTypes {
  padding-left: 20px;
  font-size: 0.9rem;
}
#txtTripTypes-label[data-shrink="false"] {
  padding-left: 15px;
  font-size: 0.9rem;
}

#txtChartFromDate,
#txtChartToDate {
  padding-left: 30px;
  font-size: 0.9rem;
}

.btn-orange,
.btn-orange-outline {
  text-transform: none !important;
}

.for_resultblock {
  background: #f1f1f1;
  min-height: 84vh;
}

#for_searchblock {
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;

  & .group-span {
    padding: 6px 12px;
    text-align: center;
    background-color: #edf7f9;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    white-space: nowrap;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-right: none;
    min-width: 90px;
  }

  & .group-input {
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 0px 4px 4px 0px;
    outline: none;

    &:hover {
      border: 1px solid #212121;
    }

    &:focus {
      border: 2px solid #3f51b5;
    }
  }

  & .group-button {
    padding: 8px 25px;
    color: #fff;
    background-color: #ff6000;
    border-color: #ff6000;
    box-shadow: 0px 2px 4px #ccc;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;
    display: table-cell;

    &:hover {
      background-color: #e25500;
      border-color: #e25500;
    }
  }

  & .group-select {
    width: 111px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 8px 12px;

    &:hover {
      border: 1px solid #212121;
    }

    &:focus {
      border: 2px solid #3f51b5;
    }
  }

  & :disabled {
    background: #f2f2f2;
  }
} //.input-group end

.btnOrange {
  border: 1px solid #ff6000;
  padding: 3px 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #ff6000;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  min-height: 27px;

  &:hover {
    color: #fff;
    background-color: #e25500;
    border-color: #e25500;
  }

  &.mlr {
    margin: 0 5px;
  }

  &.mlr10 {
    margin: 0 10px;
  }

  &.mr {
    margin-right: 12px;
  }
}

.btnOrangeOutline {
  border: 1px solid #ff6000;
  padding: 3px 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fff;
  color: #ff6000;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  min-height: 27px;

  &:hover {
    color: #fff;
    background-color: #ff6000;
    border-color: #ff6000;
  }

  &.mlr {
    margin: 0 5px;
  }

  &.mr {
    margin-right: 12px;
  }
}

.tripScheduleWrap {
  margin-top: 5px;
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  color: #555;
  letter-spacing: 0.01rem;

  & .MuiGrid-item {
    margin-bottom: 7px;
  }

  & .chartDate {
    & .DateInput_input {
      border-radius: 0;
      padding: 9px 10px 9px;
    }

    & .group-input {
      width: 250px;
      border-radius: 0px;
    }

    & .group-button {
      border-radius: 0px 4px 4px 0px;
    }

    & .input-group {
      width: 98%;
    }
  }

  & .startDate,
  & .endDate {
    & .DateInput_input {
      border-radius: 0 4px 4px 0;
      padding: 9px 10px 9px;
    }

    & .input-group {
      width: 98%;
    }
  }

  & .chartTime {
    & .input-group {
      width: 98%;
    }
  }

  & .code .group-input {
    width: 120px;
  }

  & .suffix .group-input {
    width: 120px;
  }

  & .tripSchRuns {
    margin-right: 5px;
    margin-left: 10px;

    & + label {
      margin-top: 2px;
    }
  }

  & .bkg-trip-week {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1px;

    & .lblClass-first {
      border-radius: 4px 0px 0px 4px;
    }

    & .lblClass-last {
      border-radius: 0px 4px 4px 0px;
    }

    & .tripSchWeekDay {
      position: absolute;
      visibility: hidden;

      & + label {
        padding: 8px 26px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: solid 1px #d7d7d7;

        &:hover {
          border: 1px solid #212121;
        }
      }

      &:checked + label {
        background: #0086ff;
        color: #ffffff;
        border: solid 1px #0086ff;
      }
    }
  }

  & .tripRuns {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  & .tripSchePropRow {
    display: flex;
    align-items: center;
    justify-content: start;
  } //.tripSchePropRow end

  & .chklbl-wrap {
    padding-right: 5px;
    display: flex;
    align-items: center;

    & .tripSchProps {
      margin-right: 5px;

      & + label {
        margin-right: 7px;
        margin-top: 2px;
      }
    }
  } //.chklbl-wrap end

  & .hrline {
    text-align: left;
    margin-left: 15px;
    height: 32px;
    border-width: 0;
    color: grey;
    background-color: lightgray;
    margin-left: 6px;
    margin-right: 6px;
    width: 1px;
    margin: 0;
  } //.hrline end

  & .select-wrap {
    margin-left: 17px;

    & .covidDropDown {
      border: 1px solid rgba(0, 0, 0, 0.23);
      padding: 7px 12px;
      margin-left: 10px;
      border-radius: 4px;
    }
  } //.select-wrap end

  & .tripAminitiesWrap {
    background-color: #edf7f9;
    padding: 5px;
    border-radius: 4px;
  } //.tripAminitiesWrap end

  & .tripSchAction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .btnOrange {
      padding: 5px 20px;
      min-height: 33px;
      min-width: 75px;
    }

    & .btnOrangeOutline {
      padding: 5px 20px;
      min-height: 33px;
      min-width: 75px;
    }

    #quotamale {
      background: url("../../public/images/male.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 21px;
      border: none;
      cursor: pointer;
    }

    #quotafemale {
      background: url("../../public/images/female.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 21px;
      border: none;
      cursor: pointer;
    }
  }

  .auto-increment-type {
    display: flex;
    align-items: center;
    justify-self: center;

    & .auto-incr-type-lbl {
      padding-left: 1px;
      padding-right: 5px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      & img {
        padding-right: 1px;
      }
    }
  }

  & .fareInputs {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  & .fareIncrInputs {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  & .hr-line {
    width: 100%;
    margin-right: 12px;
    border-top: solid 0px #d7d7d7;
  }

  & .col-fare {
    display: flex;
    align-items: center;
    justify-content: normal;
  }

  & .col-pickup-dropoff {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  & .busPaymentDetailContent {
    max-height: 200px;
    overflow: auto;
    width: 100%;
    margin-right: 12px;

    & .tblBusPaymentDetails {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      border: 1px solid #ddd;

      & tr {
        background: #e5f6fd;
      }

      tr:nth-child(odd) {
        background-color: #ffffff;
      }

      tr:nth-child(even) {
        background-color: #f7fcfe;
      }

      & th {
        padding: 7px 5px;
        border: 1px solid #ddd;
        text-align: left;
      }

      & th:first-child,
      td:first-child {
        display: none;
      }

      & td {
        padding: 1px 5px;
        border: 1px solid #ddd;
        text-align: left;
      }

      & .busFareInput {
        display: block;
        width: 100%;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #c7c7c7;
        border-color: #c7c7c7;
        height: 25px !important;
        font-size: 12px;
        border-radius: 3px;
        outline: none;
      }
    } //.tblBusPaymentDetails
  } //.busPaymentDetailContent

  & .chartType {
    & .group-span {
      min-width: 65px;
    }
    & .group-select {
      width: 100%;
    }
  } //.chartType end

  #tripSchChartDisplay {
    & .table {
      width: 100%;
      border-spacing: 2px;
      border-collapse: separate;
      margin-bottom: 20px;
      max-width: 100%;
      background-color: transparent;

      &.table-bordered {
        border: 1px solid #ddd;
        & tbody {
          & tr {
            & td {
              border: 1px solid #ddd;
            }
          }
        }
      }

      & th {
        padding: 4px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-align: left;
      }

      & tbody {
        & tr {
          & td {
            padding: 4px;
            line-height: 1.428571429;
            vertical-align: top;
          }
        }
      }
    }

    .chart {
      & td {
        padding: 0;
        height: 35px;
        width: 35px;
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #818181;
      }
    }
  }
} //.tripScheduleWrap end

//bus schedule form
.busScheduleWrap {
  margin-top: 5px;
  display: flex;
  width: 55vw;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  color: #555;
  letter-spacing: 0.01rem;
  text-align: left;

  & .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 6px 8px 6px 8px;
  }

  & .group-input {
    padding: 7px 10px;
  }

  & .dateOption {
    display: flex;
    align-items: center;
    justify-content: start;

    & .dateopt {
      margin-right: 5px;
      margin-left: 10px;

      & + label {
        margin-top: 2px;
      }
    }

    & .dateopt:first-child {
      margin-left: 2px;
    }
  }

  & .dateFrom,
  & .dateTo {
    & .group-span {
      border-radius: 0px 4px 4px 0px;
      border-right: 1px solid #ccc;
      border-left: none;
      position: relative;
      min-width: 40px;

      & .input-icon {
        left: 7px;
        top: 7px;
      }
    }

    & .DateInput_input {
      padding: 8px 10px 8px;
      border-radius: 4px 0px 0px 4px;
    }

    & .DateInput_input__disabled {
      background: #f2f2f2;
      font-style: normal;
    }
  }

  & .trip,
  & .driver,
  & .busNum,
  & .conductor,
  & .pickupMan {
    & .input-group {
      & .group-span {
        min-width: 165px;
      }

      & .group-input {
        width: 100%;
      }

      & .iconWrap {
        position: relative;
        margin-right: 25px;
        top: -4px;
        left: 1px;
      }

      #cmbDriverNumberBS,
      #cmbDriverCodeBS,
      #cmbConductorNumberBS,
      #cmbConductorCodeBS,
      #cmbDriverNumber2BS,
      #cmbDriver2CodeBS {
        border-radius: 4px;
      }
    }
  } //.trip

  & .tripDateTime {
    & .input-group {
      & .group-span {
        min-width: 165px;
      }
      & .group-input {
        width: 100%;
      }
    }
  }

  .cityWisePickupMan {
    padding: 11px 10px;
    border-radius: 4px;
    background: #e5f6fd;
    text-decoration: underline;
    cursor: pointer;
  }

  & .busInfoSms {
    display: flex;
    align-items: center;
    justify-content: start;

    & .chklbl-wrap {
      padding-right: 5px;
      display: flex;
      align-items: center;

      & .infosms {
        margin-right: 5px;

        & + label {
          margin-right: 7px;
          margin-top: 2px;
        }
      }
    } //.chklbl-wrap end

    & .hrline {
      text-align: left;
      margin-left: 15px;
      height: 32px;
      border-width: 0;
      color: grey;
      background-color: lightgray;
      margin-left: 6px;
      margin-right: 6px;
      width: 1px;
      margin: 0;
    } //.hrline end

    & .smsOptionWrap {
      padding-left: 10px;
      font-size: 11px;
      font-weight: 400;

      & .smsOption {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-bottom: 3px;
      }

      & .lblSmsType {
        padding-left: 5px;
      }
    }
  } //.busInfoSms

  & .busSchAction {
    display: flex;
    align-items: center;
    justify-content: start;

    & .btnOrange {
      padding: 5px 20px;
      min-height: 33px;
      min-width: 75px;
    }

    & .btnOrangeOutline {
      padding: 5px 20px;
      min-height: 33px;
      min-width: 75px;
    }
  }
} //.busScheduleWrap

/* for mobile */
@media (max-width: 768px) {
  .btn-orange,
  .btn-orange-outline {
    min-width: 100px !important;
  }
}

/* for tablet */
@media (min-width: 768px) {
  .btn-orange,
  .btn-orange-outline {
    min-width: 100px !important;
  }
}

/* for laptop */
@media (min-width: 992px) {
  .btn-orange,
  .btn-orange-outline {
    min-width: 80px !important;
  }
}

/* for desktop */
@media (min-width: 1200px) {
  .btn-orange,
  .btn-orange-outline {
    min-width: 102px !important;
  }
}
