.model--wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 100;
  letter-spacing: 0.03rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .model--container {
    position: fixed;
    background: white;
    width: auto;
    //height: 88vh;
    border-radius: 8px;
    z-index: 10;
    overflow: hidden;

    .model--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #0086ff;
      padding-left: 15px;
      color: #fff;
      font-weight: 500;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;

      & h2 {
        font-size: 1.2em;
      }
    }

    .model--body {
      padding: 10px;
      //height: 83vh;
     // overflow: auto;
    }

    .btn--wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 20px 0;
      border-top: 2px solid #ddd;
      .search--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ff9c08;
        text-transform: uppercase;
        color: #fff;
        padding: 10px 15px;
        font-size: 16px;
        letter-spacing: 0.03rem;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        margin-right: 10px;
      }
      .dashed--btn {
        background: #fff;
        border: 2px solid #ff9c08;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #ff9c08;
        padding: 10px 15px;
        font-size: 14px;
        letter-spacing: 0.03rem;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: #fff;
          background: #ff9c08;
        }
      }
    }
  }
}
