.scheDetails {
  //border:solid 1px red;

  &.Blocked {
    & .percentage {
      color: #ec3237;
    }
    & .gross {
      color: #ec3237;
    }
    & .avgfare {
      color: #ec3237;
    }
  }
  &.Stop {
    & .percentage {
      color: #ec3237;
    }
    & .gross {
      color: #ec3237;
    }
    & .avgfare {
      color: #ec3237;
    }
  }

  &.Inactive {
    & .scheRow {
      color: #7f7f7f;
    }
  }

  & .MuiTooltip-tooltip {
    background: #ffffff;
    color: #434343;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
  }

  & .MuiTooltip-arrow {
    color: #ffffff;
    font-size: 16px;
  }

  & .tooltip-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.3;
    background: #000000;
    height: 100%;
  }
} //.scheDetails

.scheRow {
  display: flex;
  width: 100%;
  padding-bottom: 10px;

  .scheTitle {
    width: 28%;
    text-align: left;
    color: #000000;

    &.bold {
      font-weight: 600;
    }
  }

  .busType {
    width: 28%;
    text-align: left;
    font-weight: 400;
    color: #444444;
  }

  .scheTime {
    width: 44%;
    text-align: right;
    font-weight: 400;
    color: #444444;

    &.underline {
      text-decoration: underline;
    }

    & .seatBooked {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
      float: right;

      & .seats {
        &.scheduled {
          color: #505050;
        }
        &.blocked {
          color: #ec3237;
        }
        &.inactive {
          color: #7f7f7f;
        }
      }

      & .bookingAmt {
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        &.scheduled {
          color: #2a6277;
        }
        &.blocked {
          color: #ec3237;
        }
        &.inactive {
          color: #7f7f7f;
        }
      }
    }
  }

  .tripName {
    width: 28%;
    text-align: left;
    color: #444444;
    font-weight: 400;
  }

  &.btmBrd {
    border-bottom: solid 1px #eeeeee;
  }

  & .percentage {
    width: 28%;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    color: #444444;
    font-weight: 400;
  }

  & .status {
    width: 22%;
    padding-top: 15px;

    padding-bottom: 5px;
  }

  & .gross-avg-fare {
    width: 50%;
    padding-top: 11px;
    text-align: right;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    color: #444444;

    & .heading {
      font-weight: 600;
      padding-left: 5px;
      color: #000000;
    }
  }
}

.card-action-left {
  width: 50%;
  text-align: center;
  border-right: solid 1px #c9cfd5;
  padding: 13px;
  & .spn-action {
    cursor: pointer;
  }
}

.card-action-right {
  width: 50%;
  text-align: center;
  padding: 13px;
  & .spn-action {
    cursor: pointer;
  }
}

.seatWiseBreakup {
  width: 285px;
  //height: 190px;
  height: auto;
  text-align: left;
  font-size: 12px;

  & table {
    padding: 5px 0px;
    width: 100%;

    & td {
      padding: 5px;
    }

    & td:nth-child(1) {
      text-align: left;
    }
    & td:nth-child(2) {
      text-align: center;
    }
    & td:nth-child(3) {
      text-align: right;
    }
    & td:nth-child(4) {
      text-align: right;
    }
  }

  & .brd-bottom {
    border-bottom: solid 1px #eeeeee;
    padding-bottom: 8px;
  }

  & .availSeats {
    font-weight: 600;
    padding: 11px 0px 2px 5px;
  }

  & .txt-bold {
    font-weight: 600;
  }
}

.fareWiseBreakup {
  width: 200px;
  height: 50px;
  text-align: left;
  font-size: 11px;
  & .txt-bold {
    font-weight: 600;
  }
  & .firstRow {
    padding: 5px;
    border-bottom: solid 1px #eeeeee;
  }
  & .secondRow {
    padding: 5px;
  }
}
